


.titleimage{  
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 70%;
    object-fit: cover;
}

.button {
    margin-top: 15px;
    padding: 6px;
}

.container {
    position: absolute;
    left: 100px;
    bottom: 320px;
    right: 500px;
    font-family: Helvetica;
    
}

