.cardLink {
    margin: auto;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000,
      0 0 transparent;
  
    border-color: var(--text-white-100);
    border-radius: 0.75rem /* 12px */;
  }
  
  .container {
    position: relative;
    border-radius: 0.75rem /* 12px */;
    padding-bottom: 0.25rem /* 4px */;
    padding-bottom: 1.25rem /* 20px */;
    background: #333333;    
  }
  
  .cardHeaderWrapper {
    margin-top: 0.75rem /* 12px */;
    margin-bottom: 0.75rem /* 12px */;
  }
  
  .cardHeader {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.0rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 100;
    overflow: hidden;
    width: 16rem /* 256px */;
    padding-left: 1rem;    
  }
  
  .cardImageWrapper {
    color: var(--text-white-100);
  }
  
  .cardImage {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    width: 100%;
    height: 100%;
} 
  
  @media (min-width: 1024px) {
    .cardHeader {
      width: 16rem /* 256px */;
    }
  }
  
  @media (min-width: 768px) {
    .cardHeader {
      width: 16rem /* 256px */;
    }
  }