.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  background:  #1A1A1A;;
}

.titleimage{  
  display: flex;
  flex-direction: column;

  
  height: 40rem;
  

}

